#header{
    background-image: url("../images/pizz1.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    position: relative;
}
.navbar-brand{
    margin-right: 20%;
  }
.nav-item a{
    font-size: 25px;
  }
#headline-text{
      padding-top: 200px;
  }
.brand{
    letter-spacing: 9px;
    color: gold;
    font-weight: bolder;
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
  }
h5 {
    letter-spacing: 5px;
    color: gold;
    padding-top: 15px;
}
#make-order{
    padding: 100px;
}
.order{
    font-size: 30px;
  }
.text-center1{
    color: blue;
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
    font-weight: bolder;
  }
  .about-image{
    text-align: center;
  }
.descript{
  background-color: gold;
  text-align: center;
  padding: 60px;
}
.card-title{
  text-align: center;
  color: blue;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text-center6{
  text-align: center;
  color: blue;
}
